.button1
{
    background-color:rgb(128, 237, 144);
    color: rgb(13, 13, 106); 
}
.modalButton
{
    background-color:rgb(128, 237, 144);
    color: rgb(13, 13, 106); 
    
}
.ModalSubject
{
    background-color:rgb(128, 237, 144);
    color: rgb(13, 13, 106); ;   
}
.carousel-inner
{
   height: 500px
}
.card
{
    height: 400px;
}
.card-text
{
    color: rgb(13, 13, 106); 
}
.card-title
{
    color:rgb(55, 148, 69);
}
.blue-block
{
    background-color:rgb(11, 11, 54);
    font-style: italic;
    color: white;
    animation-name: example;
   animation-duration: 3s; /* Specifies the duration of the animation */
   animation-iteration-count: infinite; /* Makes the animation loop indefinitely */
}
@keyframes example {
    from {background-color:rgb(11, 11, 54);}
    to {background-color:rgb(128, 237, 144)}
  }
.why_choose
{
    transition: transform 0.9s ease-in-out;
}
.why_choose:hover
{
    transform: rotateY(180deg);
}
.xylem-card
{
    height: 500px;
}
.faq-Section
{
    /* width: 80% ; */
    background-color:rgb(128, 237, 144);
    height: 350px;
}
.foot
{
    background-color:rgb(128, 237, 144);
}
.foot p 
{
     text-align: center;
}
.main_h1
{
    transition: transform 0.9s ease-in-out; 
}
.main_h1:hover
{
    transform: scale(1.5);
}
.main_img
{
    transition: transform 0.7s ease-in-out; 
}
.main_img:hover
{
    transform: skewX(30deg);
}